<p>ユーザー id</p>
<p><%= current_user.id %></p>
<p>名前</p>
<%=@me.name%>
<p>アイコン</p>
<% if @me.image.attached? %>
    <%= image_tag @me.image%>
<% end %>
<p><%= current_user.email%></p>

<%=link_to("プロフィール編集","/me/edit")%>
