<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">TWEETO WORLD!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">TWEETO WORLD!について</a></li>
        <li><a href="/comments/new">つぶやく</a></li>
        <% if user_signed_in? %>
        <li><a href="/me">プロフィール</a></li>
            <li><a>
            <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
            </a></li>
          <% else %>
            <li>
            <%= link_to('ログイン', new_user_session_path) %>
            </li>
          <% end %>
      </ul>
    </div>
  </nav>

    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
