<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
        <a href="/"><h1 class="header__logo">HELLO WORLD!</h1></a>
        <ul class="header__list">
            <a href="/posts/index"><li>投稿一覧</li></a>
            <a href="/posts/new"><li>新規投稿</li></a>
            <% if user_signed_in? %>
            <li>
            <%= link_to('プロフィール',"/me") %>
            </li>
            <%end%>
            <% if user_signed_in? %>
            <li>
            <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li>
            <%= link_to('ログイン', new_user_session_path) %>
            </li>
          <% end %>

        </ul>
    </div>
    <%= yield %>
  </body>
</html>
