<!DOCTYPE html>
<html>
  <head>
    <title>Tweeto World</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Permanent+Marker|Reenie+Beanie&display=swap" rel="stylesheet">
  </head>

  <body>
  <header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">TWEETO WORLD!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">TWEETO WORLD!について</a></li>
        <li><a href="/comments/new">つぶやく</a></li>
        <li><a href="/comments/">みんなのなう</a></li>
        <% if user_signed_in? %>
        <li><a href="/me">プロフィール</a></li>
            <li><a>

            <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
            </a></li>
          <% else %>
            <li>
            <%= link_to('ログイン', new_user_session_path) %>
            </li>
          <% end %>
      </ul>
    </div>
  </nav>

  </nav>
</header>

    <main>
    <%= yield %>

    </main>

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">TWEETO WORLD!</h5>

              </div>
              <div class="col l4 offset-l2 s12">

                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">TWEETO WORLD!について</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright akari yamaguchi

            </div>
          </div>
        </footer>
  </body>
</html>
