<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
        <a href="/"><h1 class="header__logo">HELLO WORLD!</h1></a>
        <ul class="header__list">


            <% if user_signed_in? %>
              <a href="/comments/new"><li>新規投稿</li></a>
            <% else %>
              <li>
              <%= link_to('新規投稿', new_user_session_path) %>
              </li>
            <%end%>

            <% if user_signed_in? %>
            <a href="/comments/"><li>投稿一覧</li></a>
            <a href="/me"><li>プロフィール</li></a>
            <a><li>
            <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
            </li></a>
          <% else %>
            <li>
            <%= link_to('ログイン', new_user_session_path) %>
            </li>
          <% end %>

        </ul>
    </div>

    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
